---
layout: default
title: LiKCu's Blog
---
<div class="home">
  <h2 calss="page-heading">Welcome<br>欢迎━(*｀∀´*)ノ亻!</h2>
  <h2>Following are my blogs</h2>
 

  <!-- 通过标题找到特定文章 -->
  {% assign target_post = site.posts | where: "title", "Likcu Blog Introduction" | first %}
  
  {% if target_post %}
  <section class="featured-post">
    <h2>{{ target_post.title }}</h2>
   
    <div class="post-excerpt">
      {{ target_post.excerpt | default: target_post.content | strip_html | truncate: 300 }}
    </div>
    <a href="{{ target_post.url | relative_url }}">阅读全文</a>
  </section>
  {% endif %}


  <h1>------分界线------</h1>

  <!-- 生活分类 -->
  <section class="category-section">
    <h2>真•日志</h2>
    <ul class="post-list">
      {% for post in site.categories.真•日志 %}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
      </li>
      {% endfor %}
    </ul>
  </section>
 

  <!-- 旅行分类 -->
  <section class="category-section">
    <h2>敬请期待..</h2>
    <ul class="post-list">
      {% for post in site.categories.敬请期待 %}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
      </li>
      {% endfor %}
    </ul>
  </section
</div>
